<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="folderPath" value="D:\" />
        <add key="w2_folderFrom" value="D:\mergeImg\2" />
        <add key="w2_folderTo" value="D:\mergeImg\1" />
        <add key="w2_editType" value="1" />
        <add key="w2_birthday" value="2012/01/01" />
    </appSettings>
</configuration>