<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TextPath" value="D:/" />
    <add key="CheckFolder" value="true" />
    <add key="CheckFile" value="true" />
    <add key="CheckSubFolder" value="true" />
    <add key="TextFrom" value="" />
    <add key="TextTo" value="" />
  </appSettings>
</configuration>