<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FromFolder" value="D:/mergeImg/black" />
    <add key="ImgType1" value="true" />
    <add key="ImgType2" value="true" />
    <add key="ImgType3" value="true" />
    <add key="SubFolder" value="true" />
    <add key="ReMake" value="true" />
    <add key="OutFolder" value="D:/mergeImg/black2" />
    <add key="BlackWhiteRadio" value="true" />
    <add key="ColorRadio" value="false" />
    <add key="ReplaceColor" value="#FFFFFF" />
  </appSettings>
</configuration>