<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="inf_win1_folderPath" value="D:\" />
      <add key="inf_win1_comboBox_percent" value="85" />
      <add key="inf_win1_checkbox_merge" value="true" />
      <add key="inf_win1_checkBox_sameDel" value="false" />

      <add key="w2_folderFrom" value="D:\mergeImg\2" />
      <add key="w2_folderTo" value="D:\mergeImg\1" />
      <add key="w2_editType" value="1" />
      <add key="w2_birthday" value="2012/01/01" />
      <add key="w2_delete_flg" value="1" />
    </appSettings>
</configuration>