<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="textBox1" value="4" />
    <add key="textBox2" value="10" />
    <add key="comboBox1" value="1" />
    <add key="comboBox2" value="0" />
    <add key="level" value="1" />

    <add key="index" value="-1" />
  </appSettings>
</configuration>