<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FromFolder" value="D:/mergeImg/b_to" />
    <add key="ReMake" value="true" />
    <add key="SubFolder" value="true" />
    <add key="BackColor" value="#FFFFFF" />
    <add key="BolderColor" value="#CCCCCC" />
    <add key="BolderWidth" value="2" />
    <add key="ImgType1" value="true" />
    <add key="ImgType2" value="true" />
    <add key="ImgType3" value="true" />
    <add key="ToFolder" value="D:/mergeImg/b_to2" />
  </appSettings>
</configuration>